main{
	color: white;
}
a{
	color: white;
}
.images_et_texte{
	margin: 30px 0 0 0;
}
figcaption{
	color: #006d89;
	font-weight: bold;
	text-align: center;
	margin: 30px;
	font-size: 2em;
}
.flex_images{
	display: flex;
	justify-content: space-between;
}
.flex_images_center{
	display: flex;
	justify-content: center;
}
img{
	display: block;
  	margin: auto;
  	height: 300px;
  	box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
  	margin: 5px 20px 30px 20px;
}
h2{
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}
.reponse_image{
	background-color: #006d89;
	padding: 30px;
	box-shadow: 0px 3px 4px #bebebe;
}
.reponse_image_footer{
	background-color: #006d89;
	padding: 30px 30px 1px 30px;
}
.lien_web{
	font-weight: bold;
	text-decoration: none;
	color: white;
	text-align: center;
}
hr{
	border: none;
	height: 1px;
	background-color: white;
	margin: 30px;
	box-shadow: 0px 1px 4px #066176;
	margin: 20px 0 0 0;
}

p{
	text-align: center;
}
