/* header */

@media screen and (max-width: 1400px){
    #phrase-titre{
        width: 600px;
        margin: auto;
    }
    
}
@media screen and (max-width: 1230px){
    /* /* nav{
        max-width: 1200px;
        min-width: 800px;
        padding: 0 20px;
    } */

    /* #services{
        margin: 0 50px;
        min-width: 800px;
    }

    #tous-les-tarifs{
        min-width: 800px;
        height: 1600px;
    } */


}
@media screen and (max-width: 1155px) {
    #bg-etoile-filante{
        display: none;
    }
    #lune{
        display: none;
    }
    #services{
        min-height: 700px;
        max-height: 1000px;
        height: initial;
    }

    .images-services{
        margin-right: 20px;
    }
    #esp-a-services{
        margin: 50px auto;
    }

    #tous-les-tarifs{
        flex-wrap: wrap;
        align-items: center;

    }
    .container-bureautique-et-e-sport, .container-b-et-e{
        max-width: none;
        width: 400px;
        height: 750px;;
    }
    #ajouter-tarifs, #esp-tarifs{
        width: 350px;
    }
    #espaces-vide-footer{
        height: 200px;
    }
    #bg-4{
        height: 100%;
    }
    .infos{
        padding-bottom: 300px;
    }

}
@media screen and (max-width: 920px) {
    #return-up{
        display: none;
        top: 0px;
    }

    .espace-vide{
        width: 90%;
        max-height: 200px;
        min-height: 50px;
    }
    header{
        height: 100%;
    }
    #container-nav{
        max-width: 500px;
        min-width: 300px;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        height: 150px;
    }
    #images-gros-titre{
        max-width: 500px;
        min-width: 300px;
        margin: 0 auto;
        background-size: 200px, 50px 50px;
        background-position: 50%, 80%;
        height: 300px;
    }
    #gros-titre{
        font-size: 35px;
    }
    #phrase-titre{
        max-width: 250px;
        min-width: 100px;
        font-size: 20px;

    }
    #box-2{
        margin: 40px 0;
    }
    #les-informations{
        flex-wrap: wrap;
        flex-direction: column;

    }
    #categories{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #services{
        width: 90%;
        max-width: 600px;
        min-width: 300px;
        max-height: 3000px;
        margin: 0 auto;
    }
    #container-services{
        max-width: 600px;
        min-width: 300px;
    }
    #nos-services{
        padding: 0px;
        text-align: center;
        margin-bottom: 20px;
    }
    .images-services{
        flex-direction: row;
        margin-bottom: 20px;
        max-width: none;
        padding: auto;
        width: 280px;
        flex-direction: column;
    }
    #esp-a-services{
        margin: auto;
    }

    #tous-les-tarifs{
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        max-width: 600px;
        min-width: 300px;
        margin: auto;
    }
    #titre-tarifs{
        text-align: center;
        padding: 0px;
        max-width: auto;
        min-width: 200px;
    }

    #part-gaming{
        margin: 50px 0;
    }
    #container-footer{
        max-width: 400px;
        min-width: 300px;
        margin: auto;
    }
    
}

@media screen and (max-width: 500px) {

        #return-up{
        display: none;
        top: 0px;
    }

    .espace-vide{
        width: 90%;
        max-height: 200px;
        min-height: 50px;
    }
    header{
        height: 100%;
    }
    nav{
        width: 270px;
    };
    #container-nav{
        /* max-width: 270px;
        min-width: 270px; */
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        height: 150px;
        width: 270px;
    }
    .connexion{
        display: flex;
        flex-direction: column;
    }
    #images-gros-titre{
        max-width: 270px;
        min-width: 270px;
        margin: 0 auto;
        background-size: 200px, 50px 50px;
        background-position: 50%, 80%;
        height: 300px;
    }
    #gros-titre{
        font-size: 35px;
    }
    #phrase-titre{
        max-width: 250px;
        min-width: 100px;
        font-size: 20px;

    }
    #box-2{
        margin: 40px 0;
    }
    #les-informations{
        flex-wrap: wrap;
        flex-direction: column;

    }
    #categories{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #services{
        width: 90%;
        max-width: 270px;
        min-width: 270px;
        max-height: 3000px;
        margin: 0 auto;
        padding: 5px;
    }
    #container-services{
        max-width: 270px;
        min-width: 270px;
    }
    #nos-services{
        padding: 0px;
        text-align: center;
        margin-bottom: 20px;
    }
    .images-services{
        flex-direction: row;
        margin-bottom: 20px;
        max-width: none;
        padding: auto;
        width: 270px;
        flex-direction: column;
    }
    #esp-a-services{
        margin: auto;
    }

    #tous-les-tarifs{
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        max-width: 270px;
        min-width: 270px;
        margin: auto;
    }
    #titre-tarifs{
        text-align: center;
        padding: 0px;
        max-width: auto;
        min-width: 200px;
    }

    #part-gaming{
        margin: 50px 0;
    }
    #container-footer{
        max-width: 270px;
        min-width: 270px;
        margin: auto;
    }

    .container-bureautique-et-e-sport, .container-b-et-e{
        max-width: none;
        width: 270px;
        height: 750px;;
    }
    #ajouter-tarifs, #esp-tarifs{
        width: 270px;
    }
    #espaces-vide-footer{
        height: 200px;
    }

    #ajouter-tarifs, #esp-tarifs{
        width: 270px;
    }
    #part-gaming, #container-gaming{
        width: 270px;
    }
    #ajouter-tarifs-gaming, #esp-tarifs-gaming{
        width: 270px;
    }
    pre{
        width: 270px;
        overflow: hidden;
    }
    #footer-logo-icones{
        display: none;
    }
    
}

/* style */

/* services */

/* tarifs */

/* footer */
