#container-tarifs{
    position: relative;
    z-index: 3;
}
#tous-les-tarifs{
    max-width: 1200px;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#titre-tarifs{
    max-width: 1200px;
    margin: auto;
    padding: 10px 0 10px 50px;
}

/* Partie Bureautique et E-sport ---------------------------------------------------------------------------------------- */
.container-bureautique-et-e-sport{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    height: 700px;
    border-radius: 20px;
    background: rgb(0,103,183);
    background: linear-gradient(180deg, rgba(0,103,183,1) 0%, rgba(1,20,39,1) 70%);
    transition: ease-in-out 0.2s;

}
.container-bureautique-et-e-sport:hover{
    transform: translateY(-3px);
    box-shadow: 0px 0px 33px -11px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 33px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px -11px rgba(0,0,0,0.75);
}

.container-b-et-e{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 100%;
    padding: 20px;
}
#image-titre-b{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#titre-b{
text-align: center;
}
#prix-b{
text-align: center;
font-size: 64px;
font-weight: 900;
}
.container-apres-titre-tarifs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#etoile-et-liste-b{
    display: flex;
    justify-content: center;
}
.etoiles-liste{
    color: #FFD717;
}
.liste-b-et-e-sport{
    font-size: 20px;
    font-weight: 300;
    list-style-image: url(images/etoile-liste.svg);
}
#ajouter-tarifs{
    list-style: none;
    text-decoration: none;
    color: white;
    background-color: #0D63A5;
    border-radius: 8px;
    max-width: 280px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}
#ajouter-tarifs:hover{
    background-color: white;
    color: #0D63A5;
}

#button-ajouter-esp-tarifs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#esp-tarifs{
    list-style: none;
    text-decoration: none;
    
    background: none;
    border-radius: 8px;
    max-width: 280px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    

}
.span-tarifs{
    color: rgba(255, 255, 255, 0.75);
    transition: all 0.2s;
}
.span-tarifs:hover{
    color: rgba(255, 255, 255, 1);
}

/* Partie Gaming Tarifs ------------------------------------------------------------------------------- */

#part-gaming{  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 750px;
    border-radius: 20px;
    background: rgb(7,127,219);
    background: linear-gradient(180deg, rgba(7,127,219,1) 0%, rgba(7,26,46,1) 70%);
    transition: ease-in-out 0.2s;
}

#part-gaming:hover{
    transform: translateY(-3px);
    box-shadow: 0px 0px 33px -11px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 33px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px -11px rgba(0,0,0,0.75);
}

#container-gaming{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 100%;
    padding: 20px;
}
#titre-gaming{
text-align: center;
}
#prix-gaming{
text-align: center;
font-size: 64px;
font-weight: 900;
}
#container-apres-titre-tarifs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#etoile-et-liste-gaming{
    display: flex;
    justify-content: center;
}
.etoiles-liste{
    color: #FFD717;
}
#liste-gaming{
    font-size: 20px;
    font-weight: 300;
    list-style-image: url(images/etoile-liste.svg);

}
#ajouter-tarifs-gaming{
    list-style: none;
    text-decoration: none;
    color: white;
    background-color: #0D63A5;
    border-radius: 8px;
    max-width: 350px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}
#ajouter-tarifs-gaming:hover{
    background-color: white;
    color: #0D63A5;
}

#button-ajouter-esp-tarifs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#esp-tarifs-gaming{
    list-style: none;
    text-decoration: none;
    color: white;
    background: none;
    border-radius: 8px;
    max-width: 350px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

/* Fin partie gaming tarif ----------------------------------------------------------------------- */

#div-background-lune{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

